body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;  
  background-color: #eef0f5;
  overflow-x: hidden;
}

.hero-section{
  width: 100%;
  min-height: 100vh;
}

.main-section{
  width: 100%;
  min-height: 100vh;
}

.footer-section{
  width: 100%;
  min-height: 100vh;
}

a{
  text-decoration: none;
  text-transform: lowercase;
}

h1{
  font-size: 2em;
  color: #22223B;
}

span{
  font-weight: 600;
  background: linear-gradient(to right, #4A4E69 0%, #C9ADA7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

